<ion-view view-title="Favorites" hide-nav-bar="true" class="question-page">
  <ion-content scroll="false" on-swipe-right="goBack()">
<!--    
    <div class="list card current-song">

      <p>
	Bacon ipsum dolor amet beef ribs cow chicken, porchetta t-bone turducken spare ribs pork belly shankle pancetta short loin shank leberkas alcatra. Capicola turducken pork loin tail meatloaf. Doner pork chop tenderloin, shank bacon t-bone drumstick prosciutto. Short ribs kevin pork ham hock cupim meatball spare ribs pastrami tenderloin pork chop alcatra sausage ribeye jowl. Shankle cow pork jowl andouille. Meatloaf picanha ham flank hamburger turkey pig short ribs ball tip biltong andouille.
      </p>

    </div>
    -->

<ion-slide-box>
  <ion-slide>
    <div class="boxblue"><h1>blue</h1></div>
   <div class="ip2" ng-controller="CardsCtrl">
      <td-cards>
	<td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)">
	  <div class="title">
	    {{card.title}}
	  </div>
	  <div class="image">
	    <div class="no-text overlayBox"><div class="noBox boxed">Trash</div></div>
                      <img ng-src="{{card.image}}">
                      <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
                  </div>
              </td-card>
          </td-cards>
    </div>

  </ion-slide>
  <ion-slide>
    <div class="boxyellow"><h1>yellow</h1></div>
  </ion-slide>
</ion-slide-box>
  </ion-content>

</ion-view>
