<ion-view view-title="MyQuestion" hide-nav-bar="true" class="question-page">
  <ion-content scroll="false" on-swipe-right="goBack()" on-swipe-left="goForward()"" on-swipe-down="goDown()">

    <div class="button-bar">
	    <a class="button button-light" ng-class="{'button-positive': isActive('MyQuestion')}" ng-click="setActive('MyQuestion')">My Questions</a>
	    <a class="button button-light" ng-class="{'button-positive': isActive('favorites')}" ng-click="setActive('favorites')" >Favorites</a>
    </div>
    
    <div ng-switch on="active">
	    <div ng-switch-when="MyQuestion" >
		    <div class="list card current-song" >
			    <p>Consequat spare ribs aliquip, brisket sunt ut culpa duis proident pig picanha aliqua commodo. Adipisicing pork loin excepteur laborum picanha aute elit prosciutto meatball aliquip cillum ea anim. Ipsum nulla excepteur aliquip in eiusmod filet mignon brisket biltong tempor ut consequat cupim deserunt officia. Fatback non occaecat frankfurter. Beef ribs elit magna biltong. Et hamburger id biltong culpa enim. Quis sed cow, irure doner occaecat adipisicing short loin spare ribs ut filet mignon ut sint.</p>
		    </div>
	    </div>
	    <div ng-switch-default>
		    <div class="list card current-song" >
			    <p>Salami pariatur elit, chicken corned beef quis filet mignon bacon bresaola pork est. Doner cow shankle ham andouille hamburger sint officia. Turkey quis doner ut officia, kielbasa jowl brisket ut rump venison. Rump jerky ground round irure, officia pork belly beef ribs strip steak boudin kevin ut drumstick in. Veniam magna tri-tip nisi shoulder ex esse ullamco shankle ut aute fatback t-bone. Sint filet mignon ham occaecat, pork chop magna culpa shank veniam. Ham aliquip laboris rump fatback.</p>
		    </div>
	    </div>
    </div>


  </ion-content>

</ion-view>
