<ion-view view-title="Question" hide-nav-bar="true" class="question-page">
  
  <ion-content scroll="false">
    
    <div class="ip2" ng-controller="CardsCtrl">
      <td-cards>
	<td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)">
	  <div class="title">
	    {{card.title}}
	  </div>
	  <div class="image">
	    <div class="no-text overlayBox"><div class="noBox boxed">Trash</div></div>
                      <img ng-src="{{card.image}}">
                      <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
                  </div>
              </td-card>
          </td-cards>
    </div>

    <div class="ip1" on-swipe-left="goForward()" on-swipe-down="goDown()">
      <div class="questions">
	<button class="button button-full button-calm">Choice 1</button>
	<button class="button button-full button-calm">Choice 2</button>
	<button class="button button-full button-calm">Choice 3</button>
	<button class="button button-full button-calm">Choice 4</button>
      </div>
      
    </div>
    

    
   <!--
   <div class="ip1">

   </div>

   <div class="ip2">
     </div>
   -->
  </ion-content>
  
</ion-view>
