<ion-view view-title="demo splash" hide-nav-bar="true" class="splash-page"
	<ion-content scroll="false" >

		<div class ="padding logo">
			<h1>demo splash</h1>
		</div>
		
		<div class="login-form">
			<div class="card">
				<div class="list">
					<label class="item item-input">
						<input type="text" ng-model="form.username" placeholder="Enter your {{ form.signingUp ? 'desired' : 'demo' }} username">

					</label>
					<label class="item item-input" >
						<input type="password" ng-model="form.password" placeholder="Enter your {{form.signingUp ? 'desired ' : ''}}password">
					</label>
				</div>
			</div>
			
			<div class="padding-left padding-right" >
				<button class="button button-block action-button" ng-class="{'button-positive': !form.signingUp, 'button-balanced': form.signingUp}" ng-click="submitForm(form.username, form.signingUp, form.password)">
					{{ form.signingUp ? 'Sign up' : 'Sign in'}}
				</button>
			</div>
		</div>
		
		<div class="padding signup-opt" ng-click="form.signingUp = !form.signingUp" >
			{{form.signingUp? 'Have an Account? Sign in!' : 'Need an account? Sign up!' }}
		</div>

	</ion-content>
</ion-view>
