<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icons-only tabs-striped tabs-stable t1">
  
  <button class="button button-icon icon ion-settings"></a>
  
  <!-- Question Tab -->
  <ion-tab title="Question" icon-off="ion-music-note" icon-on="ion-music-note" href="#/tab/question">
    <ion-nav-view name="tab-question">
    </ion-nav-view>
  </ion-tab>

  <!-- My Questions Tab -->
  <ion-tab title="myQuestion" icon-off="ion-music-note" icon-on="ion-music-note" href="#/tab/myQuestion">
    <ion-nav-view name="tab-myQuestion"></ion-nav-view>
  </ion-tab>

  <!-- Favorites Tab -->
  <ion-tab title="Favorites" icon-off="ion-music-note" icon-on="ion-music-note" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
